<template>
  <div class="app-canvas">
  	<link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree" rel="stylesheet">
  	<facebook-login class="button"
      	appId="381339225743520"
      	@login="fbLogin"
      	@logout="fbLogout"
      	version="v3.2"
      	@get-initial-status="fbGetInitialData" 
      	data-size="small" 
      	data-button-type="login_with" 
      	data-show-faces="false" 
      	:data-auto-logout-link="false" 
      	:data-use-continue-as="false"
      	>
    </facebook-login>
    <div> 
    		<b-col md='12'>
    			<div class='app-container'>
	    			<div id='drawer-container'>
	    				<canvas id="drawer" v-on:wheel="onDrawerWheel"></canvas>
	    			</div>
	    			<div id='drawer-background-pallete-color' class='pop-over no-select'>
	    				<div class='pop-hover-bar'  @dblclick='show.background_pallete_color=!show.background_pallete_color'>
	    					Background Color
	    				</div>
	    				<div v-show='show.background_pallete_color'>
	    					<chrome-picker v-model="background_color"  />
	    				</div>
	    			</div>
	    			<div id='drawer-color' class='pop-over no-select'>
	    				<div class='pop-hover-bar'  @dblclick='show.drawer_color=!show.drawer_color'>
	    					Drawer Color
	    				</div>
	    				<div v-show='show.drawer_color'>
	    					<chrome-picker v-model="drawer_color"  />
	    				</div>
	    			</div> 
	    			<div id='drawer-mode' class='pop-over no-select'>
	    				<div class='pop-hover-bar'  @dblclick='show.drawer_mode=!show.drawer_mode'>
	    					Drawer Mode
	    				</div>
	    				<div v-show='show.drawer_mode'>
	    					<div>
	    						<b-btn variant='light' @click='drawer_mode_selected=1' :class="{'drawer_mode_selected':drawer_mode_selected==1}">
	    							<canvas class='drawer_mode' id='drawer_mode_point'></canvas>
	    						</b-btn> 
	    						<b-btn variant='light' @click='drawer_mode_selected=2' :class="{'drawer_mode_selected':drawer_mode_selected==2}">
	    							<canvas class='drawer_mode' id='drawer_mode_line'></canvas>
	    						</b-btn> 
	    						<b-btn variant='light' @click='drawer_mode_selected=3' :class="{'drawer_mode_selected':drawer_mode_selected==3}">
	    							<font-awesome-icon icon='eraser'></font-awesome-icon>
	    						</b-btn> 
	    					</div>
	    				</div>
	    			</div> 
	    			<div id='drawer-layers' class='pop-over no-select'>
	    				<div class='pop-hover-bar'  @dblclick='show.drawer_layers=!show.drawer_layers'>
	    					Drawer Layers
	    				</div>
	    				<div v-show='show.drawer_layers'>
	    					<div style='width:250px;max-width: 300px;max-height:400px;overflow-x: scroll;'>
			    				<div style='width:100%;text-align: left;margin:4px 2px;'>
			    					<b-btn variant='primary' @click='addLayer'>
			    						<font-awesome-icon icon='plus'></font-awesome-icon>
			    					</b-btn>
			    				</div>
			    				<div style='width:100%;position: relative;display: grid'> 
									<draggable :list="project_layers" class="dragArea">
    									<transition-group>
				    						<div  class="list-group-item"  v-for='(item,index) in project_layers' @click='selectedLayer(item)' v-bind:class='{"layer-selected":item.selected}'  :key='item.id'>
				    							<div style='max-width: 200px;'>
				    								<b-btn 
				    									:class="{'layer-visible':item.visible,'layer-invisible':!item.visible}"
				    									variant='light' @click='item.visible = !item.visible'>
				    									<font-awesome-icon v-if='item.visible' icon='eye'></font-awesome-icon>
				    									<font-awesome-icon v-else icon='eye-slash'></font-awesome-icon>
			    									</b-btn> 
				    								<b-btn variant='layer-trash'> 
				    									<font-awesome-icon icon='times'></font-awesome-icon>
			    									</b-btn> 
				    							</div>
				    							<div>
				    									<custom-inline-editable :content="item.name" @update="item.name = $event"></custom-inline-editable>
				    							</div> 
				    						</div>
				    					</transition-group>
						             </draggable>
									<!--
			    					<div class="list-group" v-sortable='{onMove:onLayerUpdate}' style='text-align: left;width: 100%;'>
			    					</div>
			    					-->
		    					</div>
	    					</div>
	    				</div>
	    			</div>
	    			<div id='drawer-project-options' class='pop-over no-select'>
	    				<div class='pop-hover-bar' @dblclick='show.project_options=!show.project_options'>
	    					Project
	    				</div>
	    				<div v-show='show.project_options'>
	    					<b-input-group>  
							    <label>Width</label>
							    <number-input class='input-size' v-model.number='project_width'  :step="4" inline controls></number-input> 
							</b-input-group>
		    				<b-input-group> 
							    <label>Height</label>
							    <number-input class='input-size' v-model.number='project_height'  :step="4" inline controls></number-input>  
							</b-input-group> 
							<b-form-group>
						      	<b-form-checkbox-group v-model="transparent.enabled" :options="transparent.option">
						      	</b-form-checkbox-group>
						    </b-form-group>
						    <div>
						    	<custom-inline-editable :content="project_name" @update="project_name = $event"></custom-inline-editable>
						    </div>
	    				</div>
	    			</div>
	    		</div>
    		</b-col>  
    </div> 
  </div>
</template>
<script> 
let jQuery = require('jquery') 

require('@/assets/css/no-select.css')
import Vue from 'vue'
import { Photoshop,Compact,Chrome } from 'vue-color'


Vue.component('photoshop-picker', Photoshop) 
Vue.component('compact-picker', Compact) 
Vue.component('chrome-picker', Chrome) 
 
import VueNumberInput from '@chenfengyuan/vue-number-input';

Vue.component(VueNumberInput.name, VueNumberInput);

import { library } from '@fortawesome/fontawesome-svg-core'
import { faStopCircle,
	faEye,
	faEyeSlash, 
	faTrash, 
	faTimes, 
	faPlus, 
	faSquare, 
	faEraser, 
} from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import EditableInline from '@/components/EditableInline'

library.add(faStopCircle)
library.add(faEye)
library.add(faEyeSlash)
library.add(faTrash)
library.add(faTimes)
library.add(faPlus)
library.add(faSquare)
library.add(faEraser)

Vue.component('font-awesome-icon', FontAwesomeIcon)
Vue.component('custom-inline-editable', EditableInline)

import vuewheel from 'vuewheel'

Vue.use(vuewheel)

import Sortable from 'vue-sortable'

Vue.use(Sortable)

import draggable from 'vuedraggable'
 
Vue.component('draggable', draggable)

import facebookLogin from 'facebook-login-vuejs'

Vue.component('facebook-login', facebookLogin)

const uuidv1 = require('uuid/v1'); 

export default{
	data(){
		return {
			background_color:{
				hex:'#3C3C3C', 
			},
			drawer_color:{
				hex:'#000000', 
				hex8:'#000000FF', 
			},
			drawer_enable_scaling:true, 
			drawer_mode_selected:1, 
			drawer_pincel_width:20, 
			project_name:'Empty Project',
			project_width_def:400,
			project_height_def:400,
			project_width:400,
			project_height:400,
			project_redraw:true,
			project_scale:1,
			selected_layer:null,
			project_layers:[
				{name:'Main',visible:true,id:'1',selected:false},
				{name:'Empty',visible:true,id:'2',selected:false},
				{name:'Empty',visible:true,id:'3',selected:false},
				{name:'Empty',visible:true,id:'4',selected:false},
				{name:'Empty',visible:true,id:'5',selected:false},
				{name:'Empty',visible:true,id:'6',selected:false},
				{name:'Empty',visible:true,id:'7',selected:false},
				{name:'Empty',visible:true,id:'8',selected:false},
				{name:'Empty',visible:true,id:'9',selected:false},
				{name:'Empty',visible:true,id:'10',selected:false},
				{name:'Empty',visible:true,id:'11',selected:false},
				{name:'Empty',visible:true,id:'12',selected:false},
				{name:'Empty',visible:true,id:'13',selected:false},
				{name:'Empty',visible:true,id:'14',selected:false},
				{name:'Empty',visible:true,id:'15',selected:false},
				{name:'Empty',visible:true,id:'16',selected:false},
				{name:'Empty',visible:true,id:'17',selected:false},
				{name:'Empty',visible:true,id:'18',selected:false},
				{name:'Empty',visible:true,id:'19',selected:false},
			],
			show:{
				drawer_color:true,
				drawer_mode:true,
				background_pallete_color:true,
				project_options:true,
				drawer_pincel_width:true,
				drawer_layers:true,
			},
			transparent:{
				enabled:'ENABLED',
				option:[ 
					{text:'Transparent',value:'ENABLED'},
				],
			},
			drawer_pincel_mode:{
				current:'SQUARE',
				option:[ 
					{text:'Square',value:'SQUARE'},
					{text:'Circle',value:'SQUARE'},
				],
			},
		}
	}, 
	mounted(){
		let _this = this
		jQuery(window).ready(function(evt){
			const main_func = require('@/assets/js/main.js');
			main_func.default(_this);
		});
		jQuery('body').css('background-color','#3C3C3C');
		this.project_layers[0].selected = true;
		this.selected_layer = this.project_layers[0];
		for(let i in this.project_layers){
			let layer = this.project_layers[i];
			layer.id = uuidv1();
			console.log('layer id',layer.id);
		}
	},
	methods:{
		beforeRouteUpdate (to, from, next) {
		    console.log('beforeRouteUpdate');
		  }, 
		selectedLayer(item){
			for(let i in this.project_layers){
				let layer = this.project_layers[i];
				layer.selected = false;
			}
			this.selected_layer = item; 
			item.selected = true;
		},
		addLayer(){
			this.project_layers.push({
				name:'Empty',
				visible:true,
				id:uuidv1(),
				selected:false,
			});
		},
		onLayerUpdate:function(evt){
			console.log('onLayerUpdate',evt); 
		},
		onDrawerWheel(evt){
			evt.preventDefault();
			if(!this.drawer_enable_scaling)return;
			let val = this.project_scale;
			if(evt.wheelDelta>0){
				val++;
			}
			if(evt.wheelDelta<0){
				val--;
			} 
			if(val<1)val=1;
			if(val>10)val=10;
			this.project_scale = val; 
			console.log(evt,this.project_scale);
			this.project_redraw = true;
		},
		fbLogin(v){
			console.log('fbLogin',v);
		},
		fbLogout(v){
			console.log('fbLogout',v);
		},
		fbGetInitialData(v){
			console.log('fbGetInitialData',v);
		},
	},
	watch:{
		'$route' (to, from){
	        console.log("router change",to,from);
	    },
		'project_width':function(new_val,old_val){
			if(new_val%4==0){
				this.project_redraw = true
			}else{
				this.project_width = new_val - new_val%4
			}
		},
		'project_height':function(new_val,old_val){
			if(new_val%4==0){
				this.project_redraw = true
			}else{
				this.project_height = new_val - new_val%4
			}
		},
		'background_color':function(new_val,old_val){ 
			jQuery('body').css('background-color',new_val.hex8)
		}, 
		'transparent.enabled':function(new_val,old_val){ 
			this.project_redraw = true;
		}, 
		'drawer_pincel_mode.current':function(new_val,old_val){ 
			this.project_redraw = true;
		}, 
		'drawer_pincel_width':function(new_val,old_val){ 
			jQuery('#drawer-line-width-text').html(new_val); 
			jQuery('#drawer-line-width-preview.square').css('height',new_val+'px'); 
			jQuery('#drawer-line-width-preview.circle').css('width',new_val+'px').css('height',new_val+'px'); 
			this.project_redraw = true;
		}, 
		'project_name':function(new_val,old_val){ 
			window.document.title = new_val;
		}, 
		'project_scale':function(new_val,old_val){ 
			this.project_redraw = true;
		}, 
		'drawer_mode_selected':function(new_val,old_val){ 
			this.project_redraw = true;
		}, 
		'project_layers':{
			handler:function(new_val,old_val){ 
				this.project_redraw = true;
			}, 
			deep:true,
		}
	},
	components:{ 
	},
}
</script>
<style type="text/css">
	*{ 
		font-family: 'Bai Jamjuree', sans-serif;
	}
	.list-group-item{
		cursor: pointer;
	}
	.list-group-item .btn{ 
		padding: 3px 3px;
	    font-size: 14px;
	    line-height: 14px;
	    margin-bottom: 5px;
	    margin-right: 5px;
	}
	.list-group-item .btn.layer-visible{ 
	    background: #b2e2ff;
	    border-radius: 50%;
	}
	.list-group-item .btn.btn-layer-trash{ 
	    background: #b1e2fd;
    	color: #2c6b90;
    	padding: 3px 6px;
	}
	.list-group-item .btn.layer-invisible{ 
		background: #bcbdbd;
	    border-radius: 50%;
	    color: #313131; 
	}
	.list-group-item.layer-selected{
		background: #2d6b90;
    	color: white;
	}
	#nav{ 
   	 	background: #e2e2e2;
   	 	padding:5px;
	}
	#drawer-container{
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
	}
	.pop-over{
		position: absolute;
		top:0;
		left: 0;
		cursor:default;
	}
	#drawer-color{
		left:255px;
	}
	#drawer-background-pallete-color{
		left:initial;
		right: 20px;
		top:0;
 		display: inline-table;
	}
	#drawer-layers{
		left:200; 
		top:0;
 		display: inline-table;
	}
	#drawer-project-options label{
		text-align: center;
    	width: 100%;
	}
	.input-size input{
		background: #a0a0a0;
	}
	#drawer-project-options, 
	#drawer-layers, 
	#drawer-line-width{ 
    	border-radius: 5px;
 		background: #bfbfbf;
	}
	#drawer-line-width{

  		top: 275px;
    	left: 256px;
	}
	#drawer-line-width-preview{
		position: relative;
		display: inline-block;
		text-align: center;
		background: black;
		margin:5px;
	}
	#drawer-line-width-preview.square{
		width:100px;
		height:1px;
	}
	#drawer-line-width-preview.circle{
		width:1px;
		height:1px;
		border-radius: 50%;
	}
	#drawer-project-options{
		left:initial;
		right: 20px;
		top:300px;
 		display: inline-table;
 		max-width: 200px;
	}
	.pop-hover-bar{
	 	width: 100%;
	    height: 100%;
	    background: #166e88;
	    position: relative;
	    display: inline-block;
	    color: white;
	    z-index: 0;
	    border-radius: 5px;
	    border-radius: 5px;
	    padding-left: 10px;
	    box-shadow: 0 0 2px rgba(0,0,0,.3), 0 4px 8px rgba(0,0,0,.3);
	    min-width: 200px;
	}
	.drag-obj{
		font-family: initial;
    	font-style: initial;
    	padding-left: 10px;
    	padding-right: 10px;
	}
	.drawer_mode{
		width: 25px;
		height: 25px;
	}
	.drawer_mode canvas{
		position: relative;
		width:100%;
		height:100%;
	}
	.drawer_mode_selected{
		background: red;
    	color: white;
	}
</style>
