<template>
    <div ref='editable'
    :contenteditable="editable" 
    @input="update" 
    @keydown.enter.prevent='editable=false' 
    @dblclick.stop='onDblClick'></div>
</template>
<script> 

    export default {
        name:'Editable',
        props:{
            content:{
                type:String,
                default:'',
            }, 
        },
        components:{

        },
        data(){
            return {
                editable:true,
            };
        },
        mounted(){
            this.$el.innerText = this.content;
        },
        computed:{

        },
        methods:{
            update(event){
                this.$emit('update',event.target.innerText);
            },
            onDblClick(){
                this.editable = !this.editable;
                if(this.editable){
                    if(this.$el.innerText=='Empty'){
                        this.$el.innerText = ''; 
                        this.$refs.editable.focus();
                    } 
                }
            }
        },
    } 
    
</script>
<style>
    
</style>